.vs/config/applicationhost.config
.vs/joyeriaSYS/v14/.suo
joyeriaSYS/bin/joyeriaSYS.dll
joyeriaSYS/bin/joyeriaSYS.pdb
joyeriaSYS/obj/Release/joyeriaSYS.csproj.FileListAbsolute.txt
joyeriaSYS/obj/Release/joyeriaSYS.dll
joyeriaSYS/obj/Release/joyeriaSYS.pdb
joyeriaSYS/obj/Debug/joyeriaSYS.dll
joyeriaSYS/obj/Debug/joyeriaSYS.pdb
